body{
    background-color:rgb(142, 156, 180);
}

.big_header {
        font-size: 45px;
        font-style: italic;
}

.bold {
    font-style:initial;
}

.new_font {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.italic {
    font-style: italic;
}