body{
    background-color:rgb(142, 156, 180);
}

.big_header {
      color:cornsilk;
      font-size: medium;
}

.color {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.new_font {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    text-align: center;
}

.italic {
    font-style: italic;
}